= content_for :title, "Idle | Reports"
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            %h4.title.text-left Reports Management
            %p.category A list of reports made by users.
          .content.table-responsive.table-full-width
            %table.table.table-bigboy.table-striped
              %thead
                %tr
                  %th.text-center Reported
                  %th Name / Title
                  %th Type
                  %th By
                  %th Created
                  %th Actions
              %tbody.user-table-alignment
                - @reports.each do |report|
                  %tr
                    %td.text-center
                      - if report.task.present?
                        .img-container
                          %img{src: "/assets/#{report.task.task_type}.png"}
                      - else
                        .img-container
                          %img{src: report.block.image.url}
                    %td=report.task.present? ? report.task.title.to_s : report.block.name.to_s
                    %td=report.task.present? ? "Task" : "User"
                    %td=report.user.name
                    %td=report.created_at.strftime("%b %d, %Y")
                    %td.td-actions
                      %a.report-detail.btn.btn-info.btn-simple.btn-icon.btn-xs{rel: :tooltip, "data-original-title" => report.task.present? ? "View Task" : "View Profile", href: report.task_id.present? ? admindir_v1_task_path(report.task.id) : admindir_v1_user_path(report.block.id)}
                        %i.fa.fa-eye
                      %button.view-report.btn.btn-info.btn-simple.btn-icon.btn-xs{ rel: :tooltip, "data-original-title" => "View Report", "data-toggle" => "modal", "data-target"=>"#myModal", "data-report" => report.description.to_s, "data-report-by" => report.user.name, "data-reported" => report.task.present? ? report.task.title : report.block.name, "data-report-type" => report.task.present? ? "Task" : "User" }
                        %i.fa.fa-info
                - if @reports.count == 0
                  %tr
                    %td.text-center{ "colspan" => 6 }
                      No Available Reports
          .col-md-12
            .paginate
              = will_paginate @reports, previous_label: "", next_label: ""

#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Report Details
      .modal-body
        .row
          .col-md-12
            .content
              %form.form-horizontal{:action => "/", :method => "get"}
                %fieldset
                  .form-group
                    %label.col-sm-2.control-label.reported-label
                    .col-sm-10
                      %input.reported.form-control{ :type => "text", readonly: true, style: "background-color: initial;" }
                %fieldset
                  .form-group
                    %label.col-sm-2.control-label Type:
                    .col-sm-10
                      %input.report-type.form-control{ :type => "text", readonly: true, style: "background-color: initial;" }
                %fieldset
                  .form-group
                    %label.col-sm-2.control-label Content:
                    .col-sm-10
                      %textarea.report-description.form-control{ rows: 8, readonly: true, style: "resize: none;", style: "background-color: initial;" }
                %fieldset
                  .form-group
                    %label.col-sm-2.control-label By:
                    .col-sm-10
                      %input.report-by.form-control{ :type => "text", readonly: true, style: "background-color: initial;" }

= javascript_include_tag "bootstrap-notify", media: :all
:javascript
  $(".view-report").on("click", function(e) {
    var reportType = $(e.currentTarget).data('report-type');
    var reportedLabel = "Name";
    
    if (reportType == "Task") {
      reportedLabel = "Title";
    }
    
    console.log("report type: "+reportType);
    console.log("report label: "+reportedLabel);
    
    $("#myModal label.reported-label").text(reportedLabel);
    $("#myModal input.report-by").val($(e.currentTarget).data('report-by'));
    $("#myModal input.report-type").val(reportType);
    $("#myModal input.reported").val($(e.currentTarget).data('reported'));
    $("#myModal textarea.report-description").val($(e.currentTarget).data('report'));
  });
