/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require light-bootstrap-dashboard
 *= require pe-icon-7-stroke
 */

.next_page::after{
  content: "»"
}

.previous_page::after{
  content: "«"
}

.pagination{
  float: right;
}

.pagination > .current{
  font-style: normal;
  background-color: #87CB16;
  color: #fff;
  border: 0;
  padding: 9px 13px;
  border-radius: 500px;
}

.pagination > a, .pagination > span{
  padding: 9px 13px;
}

.pagination > .next_page{
  padding-right: 0px;
}

.navbar-form{
  margin-top: 10px !important;
  input:focus{
    outline: none !important;
  }
}
