@media screen and (max-width: 992px) {
    .tab-pane .col-md-5, .tab-pane .col-md-3{
        text-align: center !important;
    }

    .tab-pane .col-md-3{
        padding-bottom: 15px;
    }

    .tab-pane .col-md-1{
        display: none;        
    }

    .invoice p{
        font-size: 14px !important;
    }

    #showUser .pull-right a {
        font-size: 13px !important;
        margin-bottom: 30px;
        padding-right: 19px;
        padding-left: 19px;
    }
}

@media screen and (max-width: 1282px) {
    .star_border_white {
        font-size: 30px !important;
    }

    .star_rate_white{
        font-size: 30px !important;
    }

    .user-average-ratings i{
        margin: 2px !important; 
    }

    .user-average-ratings p, .completed-tasks p{
        font-size: 14px !important; 
    }

    .user_rate {
        padding-top: 31px !important;
        padding-bottom: 18px !important;
    }
}

@media screen and (max-width: 1295px) {
    .bid-offer {
        font-size: 15px !important;
    }
}

@media screen and (min-width: 1283px) and (max-width: 1402px) {
	.star_border_white {
	    font-size: 30px !important;
	}

	.star_rate_white{
		font-size: 30px !important;
	}

	.user-average-ratings i{
		margin: 3px !important;	
	}

    .user_rate {
        padding-top: 31px !important;
        padding-bottom: 15px !important;
    }
}

@media screen and (min-width: 1403px) and (max-width: 1582px) {
    .star_border_white {
        font-size: 35px !important;
    }

    .star_rate_white{
        font-size: 35px !important;
    }

    .user-average-ratings i{
        margin: 5px !important; 
    }

    .user_rate{
        padding-top: 37px !important; 
    }
}

@media screen and (min-width: 1415px) and (max-width: 1582px) {
    .arrow {
        right: 150% !important;
    }

    .arrow_bid {
        right: 300% !important;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1414px) {
    .arrow {
        right: 180% !important;
    }
}

@media screen and (max-width: 1349px) {
    .arrow {
        right: 250% !important;
    }

    .user-average-ratings p, .completed-tasks p{
        font-size: 14px !important; 
    }

    .task-time-date p{
        font-size: 15px !important;
    }
}

@media screen and (max-width: 1349px) {
    .arrow_bid {
        right: 50px !important;
    }
}

@media screen and (max-width: 1359px) {
    .dataTables_filter input {
        width: 83% !important;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1484px) {
    .dataTables_filter input {
        width: 85% !important;
    }
}

@media screen and (min-width: 1485px) and (max-width: 1600px) {
    .dataTables_filter input {
        width: 86% !important;
    }
}