/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

body{
  background-color: #4db6ac;
  .bg{
    height: 100vh;
    width: 100vw;
    text-align: center;

    img{
      margin: 80px 0px 0px;
    }

    h6{
      font:{
        family: "Roboto",sans-serif;
        size: 36px;
      }
      color: #fff;
      margin: 190px 40px 0px;
      line-height: 45px;
    }

    .button-div{
      width: 100vw;
      height: 180px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      text-align: center;
      a{
        text-decoration: none;
        color: #009688;
        font:{
          size: 40px;
          family: "Roboto",sans-serif;
        }
        width: 100%;
        height: 59%;
        float: left;
        padding: 72px 0px 0px;
      }
    }
  }
}

.bg{
  p{
    color: #fff;
    font-size: 75px;
    margin: 30px 0px 0px;
    span:first-child{
      font-family: AmericanTypeWriter-Regular;
      margin: 0px -18px 0px 0px;
    }
    span:last-child{
      font:{
        family: AmericanTypeWriter-Bold;
      }
    }
  }




}
