= content_for :title, "Idle | Admin Login"
.wrapper.wrapper-full-page
  .full-page.login-page{ "data-color" => "#75BBB4", "data-image" => asset_path("bg.jpg") }
    .content
      .container
        .row
          .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
            = form_for(resource, as: :admin, url: session_path(resource_name)) do |f|
              .card
                .header.text-center  Idle Login
                .content
                  = devise_error_messages!
                  %p=flash[:alert]
                  .form-group
                    %label Email Address
                    = f.email_field :email, class: "form-control", placeholder: "Enter Email", required: true
                  .form-group
                    %label Password
                    = f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter Password", required: true
                .footer.text-center
                  %button.btn.btn-fill.btn-success.btn-wd{ type: :submit } Continue
