= content_for :title, @page_title
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            %h4.title.text-left= @form_title
          .content
            = form_for(@admin, @form_options) do |f|
              = f.text_field :password, type: "password", style: "display: none;"
              .row
                .col-md-3
                  .form-group
                    %label Role
                    %input.form-control{ type: :text, disabled: true }
                    = f.text_field :role_id, type: "hidden"
                .col-md-4
                  .form-group
                    %label.control_label
                      Username
                      %star *
                    = f.text_field :username, class: "form-control", required: true
                .col-md-5
                  .form-group
                    %label.control_label
                      Email
                      %star *
                    = f.email_field :email, class: "form-control", required: true
              .row
                .col-md-6
                  .form-group
                    %label.control_label
                      Last Name
                      %star *
                    = f.text_field :last_name, class: "form-control", required: true
                .col-md-6
                  .form-group
                    %label.control_label
                      First Name
                      %star *
                    = f.text_field :first_name, class: "form-control", required: true
              .row
                .col-md-12
                  .form-group
                    %label Upload Image
                    = f.file_field :image, class: "form-control", required: true
              .row
                .col-md-12
                  .form-group
                    %label About Me
                    = f.text_area :about, class: "form-control", rows: 5
              = f.submit @button_title, class: "btn btn-info btn-fill pull-right"
              .clearfix
