= content_for :title, "Idle | Admins"
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            %h4.title.text-left Admin Management
            %p.category A list of admin registered to the idle app.
          .content.table-responsive.table-full-width
            %table.table.table-bigboy.table-striped.admins-table
              %thead
                %tr
                  %th.text-center Image
                  %th Name
                  %th Email
                  %th Role
                  %th Status
              %tbody
                - @admins.each do |admin|
                  %tr
                    %td
                      .img-container
                        %img{src: admin.image.url}
                    %td=admin.name
                    %td=admin.email
                    %td=APP_CONFIG['role'][admin.role_id]
                    %td
                      .switch.has-switch
                        .switch-animate.switch-off
                          %input{type: :checkbox}
                          %span.switch-left
                          %span.switch-right
            .row
              .col-md-12
                .paginate
                  = will_paginate @admins, previous_label: "", next_label: ""
