= content_for :title, "Idle | Dashboard"
.content.dashboard
  .container-fluid
    .row
      .col-md-12
        .col-md-4
          .card
            .header
              %h4.title.text-left Schools
              %p.category Total number of schools
            .content.text-center
              %h2.strong.blue=number_to_human(@schools, format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
        .col-md-4
          .card
            .header
              %h4.title.text-left Users
              %p.category Total registered users
            .content.text-center
              %h2.strong.green=number_to_human(@users, format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
        .col-md-4
          .card
            .header
              %h4.title.text-left Tasks
              %p.category Total created tasks
            .content.text-center
              %h2.strong.orange=number_to_human(@tasks, format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
        .col-md-4
          .card
            .header
              %h4.title.text-left Spent
              %p.category Total spent
            .content.text-center
              %h2.strong.red=number_to_currency(@charges[:spent].nil? ? 0 : @charges[:spent], precision: 2)
        .col-md-4
          .card
            .header
              %h4.title.text-left Stripe
              %p.category Total stripe amount
            .content.text-center
              %h2.strong.red=number_to_currency(@charges[:stripe].nil? ? 0 : @charges[:stripe], precision: 2)
        .col-md-4
          .card
            .header
              %h4.title.text-left Cash
              %p.category Total cash amount
            .content.text-center
              %h2.strong.red=number_to_currency(@charges[:cash].nil? ? 0 : @charges[:cash], precision: 2)
      .col-md-12
        .col-md-6
          .card
            .header
              %h4.title.text-left Task Created vs Completed
              %p.category Comparison of Task Created and Task Completed
            .content
              %ul.chart-filters.task-line-chart
                %li.week.selected W
                %li.month{ style: "border-left: 0; border-right: 0;" } M
                %li.year Y
              #tasksLineChart.ct-chart
            .footer
              %hr
              .legend
                %i.fa.fa-circle.blue
                Created
                %i.fa.fa-circle.red
                Completed
        .col-md-6
          .card
            .header
              %h4.title.text-left Task Type Created vs Completed
              %p.category Comparison of Task Types created and Task Types Completed
            .content
              %ul.chart-filters.task-type-bar-chart
                %li.week.selected W
                %li.month{ style: "border-left: 0; border-right: 0;" } M
                %li.year Y
              #tasksTypeBarChart.ct-chart
            .footer
              %hr
              .legend
                %i.fa.fa-circle.blue
                Created
                %i.fa.fa-circle.red
                Completed
        .col-md-4
          .card
            .header
              %h4.title.text-left Task Types
              %p.category Task types by percentage
            .content
              #chartPie.ct-chart
              %input#task-0{ type: :hidden, value: "#{@pie_chart[:quickie]}"}
              %input#task-1{ type: :hidden, value: "#{@pie_chart[:grocery]}"}
              %input#task-2{ type: :hidden, value: "#{@pie_chart[:laundry]}"}
              %input#task-3{ type: :hidden, value: "#{@pie_chart[:transport]}"}
              %input#task-4{ type: :hidden, value: "#{@pie_chart[:other]}"}

            .footer
              %hr
              .legend
                %i.fa.fa-circle.quickie-icon
                %span.chart-task-1
                Quick Task
                %i.fa.fa-circle.grocery-icon
                %span.chart-task-2
                Grocery
                %i.fa.fa-circle.laundry-icon
                %span.chart-task-3
                Laundry
                %i.fa.fa-circle.transport-icon
                %span.chart-task-4
                Transport
                %i.fa.fa-circle.other-icon
                %span.chart-task-5
                Other

        .col-md-8
          .card
            .header
              %h4.title.text-left Statistics
              %p.category Monthly track of app progress
            .content
              .row.statistics
                .col-md-12.headers
                  .col-md-3
                    %p TOTAL
                  .col-md-6
                    %p ITEMS
                  .col-md-3

                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:downloads], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p Downloads
                  .col-md-3
                    %p=number_to_percentage(@percentage[:downloads], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:cancelled], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p Cancelled Accounts
                  .col-md-3
                    %p=number_to_percentage(@percentage[:cancelled], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:schools], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p Schools
                  .col-md-3
                    %p=number_to_percentage(@percentage[:schools], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:users], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p Active Users
                  .col-md-3
                    %p=number_to_percentage(@percentage[:users], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:new], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p New Users
                  .col-md-3
                    %p=number_to_percentage(@percentage[:new], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:task_created], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p Tasks Created
                  .col-md-3
                    %p=number_to_percentage(@percentage[:task_created], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_human(@statistics[:task_completed], format: "%n%u", precision: 2, units: { thousand: 'K', million: 'M', billion: 'B' })
                  .col-md-6
                    %p Tasks Completed
                  .col-md-3
                    %p=number_to_percentage(@percentage[:task_completed], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_currency(@statistics[:spent], precision: 2)
                  .col-md-6
                    %p Amount Spent
                  .col-md-3
                    %p=number_to_percentage(@percentage[:spent], precision: 0)
                .col-md-12
                  .col-md-3
                    %p=number_to_currency(@statistics[:revenue], precision: 2)
                  .col-md-6
                    %p Revenue
                  .col-md-3
                    %p=number_to_percentage(@percentage[:revenue], precision: 0)
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"}
:javascript
  var week_tasks = #{@week_tasks.to_json.html_safe}
  var monthly_tasks = #{@monthly_tasks.to_json.html_safe}
  var year_tasks = #{@year_tasks.to_json.html_safe}
  var task_types = #{@task_types.to_json.html_safe}

  init_chart();


  $(".chart-filters.task-line-chart li").on('click', function(e) {
    var btn = $(e.target)

    if ( !btn.hasClass('selected') ) {
      $(".chart-filters.task-line-chart li.selected").removeClass("selected");
      btn.addClass("selected")

      if ( btn.hasClass("week") ) {
        set_tasks_line_chart('#tasksLineChart', week_tasks);
      } else if ( btn.hasClass("month") ) {
        set_tasks_line_chart('#tasksLineChart', monthly_tasks);
      } else if ( btn.hasClass("year") ) {
        set_tasks_line_chart('#tasksLineChart', year_tasks);
      }
    }
  });

  $(".chart-filters.task-type-bar-chart li").on('click', function(e) {
    var btn = $(e.target)

    if ( !btn.hasClass('selected') ) {
      $(".chart-filters.task-type-bar-chart li.selected").removeClass("selected");
      btn.addClass("selected")

      if ( btn.hasClass("week") ) {
        set_tasks_bar_chart('#tasksTypeBarChart', task_types.week, task_types.labels);
      } else if ( btn.hasClass("month") ) {
        set_tasks_bar_chart('#tasksTypeBarChart', task_types.monthly, task_types.labels);
      } else if ( btn.hasClass("year") ) {
        set_tasks_bar_chart('#tasksTypeBarChart', task_types.year, task_types.labels);
      }
    }
  });

  function init_chart(){
    //Pie Chart
    var quickie = parseInt($("#task-0").val());
    var grocery = parseInt($("#task-1").val());
    var laundry = parseInt($("#task-2").val());
    var transport = parseInt($("#task-3").val());
    var other = parseInt($("#task-4").val());

    var dataPreferences = {
        series: [
            [25, 30, 20, 25]
        ]
    };

    var optionsPreferences = {
        donut: true,
        donutWidth: 40,
        startAngle: 0,
        height: "245px",
        total: 100,
        showLabel: false,
        axisX: {
            showGrid: false
        }
    };

    Chartist.Pie('#chartPie', dataPreferences, optionsPreferences);

    Chartist.Pie('#chartPie', {
      // labels: [quickie + "%", grocery + "%", laundry + "%", transport + "%", laundry + "%", other + "%"],
      series: [quickie, grocery, laundry, transport, laundry, other]
    });

    $(".chart-task-1").text(quickie + "%");
    $(".chart-task-2").text(grocery + "%");
    $(".chart-task-3").text(laundry + "%");
    $(".chart-task-4").text(transport + "%");
    $(".chart-task-5").text(other + "%");

    set_tasks_line_chart('#tasksLineChart', week_tasks)
    set_tasks_bar_chart('#tasksTypeBarChart', task_types.week, task_types.labels)
  }

  function set_tasks_line_chart(element, data) {
    var dataTasks = {
      labels: data.labels,
      series: [data.created, data.completed]
    };

    var optionsTasks = {
      lineSmooth: false,
      low: 0,
      high: (data.max/10+1)*10
    };

    Chartist.Line(element, dataTasks, optionsTasks);
  }

  function set_tasks_bar_chart(element, data, labels) {
    var dataTasks = {
      labels: labels,
      series: [data.created, data.completed]
    };

    var optionsTasks = {
      seriesBarDistance: 10,
      axisX: { showGrid: false },
      high: (data.max/10+1)*10,
      onlyInteger: true
    };

    Chartist.Bar(element, dataTasks, optionsTasks);
  }
