= content_for :title, "Idle | Admin Login"
.wrapper.wrapper-full-page
  .full-page.login-page{ "data-color" => :green, "data-image" => "/assets/iphone2.png" }
    .content
      .container
        .row
          .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
            = form_for(:admin, :html => { onsubmit: "return false "}, remote: true) do |f|
              .card
                .header.text-center  Login
                .content
                  .form-group
                    %label Email Address
                    = f.text_field :email, class: "form-control", placeholder: "Enter Email", type: "email"
                  .form-group
                    %label Password
                    = f.text_field :password, class: "form-control", autocomplete: "off", placeholder: "Enter Password", type: "password"
                .footer.text-center
                  %button.btn.btn-fill.btn-success.btn-wd{ type: :submit } Continue
