.navbar.navbar-default
  .container-fluid
    .navbar-minimize
      %button#minimizeSidebar.btn.btn-success.btn-fill.btn-round.btn-icon
        %i.fa.fa-ellipsis-v.visible-on-sidebar-regular
        %i.fa.fa-navicon.visible-on-sidebar-mini
    .navbar-collapse.collapse
      - if controller_name == "users" and controller.action_name == "index"
        %form.navbar-form.navbar-left.navbar-search-form{ role: :search }
          .input-group
            %span.input-group-addon
              %i.fa.fa-search
            %input.form-control{ type: :text, placeholder: "Search...", name: "search_key"}
      - if controller_name == "tasks" and controller.action_name == "index"
        %form.navbar-form.navbar-left.navbar-search-form{ role: :search }
          .input-group
            %span.input-group-addon
              %i.fa.fa-search
            %input.form-control{ type: :text, placeholder: "Search...", name: "search_key"}

      - if controller_name == "admins" && controller.action_name == "index"
        %form.navbar-form.navbar-left.navbar-search-form{ role: :search }
          .input-group
            %span.input-group-addon
              %i.fa.fa-search
            %input.form-control{ type: :text, placeholder: "Search...", name: "search_key"}
        %a.pull-right{ href: new_admindir_v1_admin_path, style: "display: block;" }
          %button.pull-right.btn.btn-social.btn-fill.btn-info{ style: "margin-top: 18px;"}
            %i.fa.fa-plus
            New Admin
