.sidebar{"data-color" => :green, "data-image" => ""}
  .logo
    %a.logo-text
      Idle Admin
  .logo.logo-mini
    %a.logo-text
      Idle
  .sidebar-wrapper
    .user
      .photo
        %img{src: "#{current_admin.image.url}"}/
      .info
        %a.collapsed{"data-toggle" => "collapse", href: "#profile"}
          = current_admin.name.titleize
          %b.caret
        #profile.collapse
          %ul.nav
            %li
              %a{href: edit_admindir_v1_admin_path(current_admin.id)} Edit Profile
            %li
              %a{href: "#"} Lock Account
            %li
              %a{href: "#"} Log Out
    %ul.nav
      %li{class: "#{controller_name == 'pages' ? 'active' : ''}"}
        %a{href: admindir_v1_dashboard_path}
          %i.pe-7s-graph1
          %p Dashboard
      %li{class: "#{controller_name == 'users' ? 'active' : ''}"}
        %a{href: admindir_v1_users_path}
          %i.pe-7s-users
          %p Users
      %li{class: "#{controller_name == 'tasks' ? 'active' : ''}"}
        %a{href: admindir_v1_tasks_path}
          %i.pe-7s-shopbag
          %p Tasks
      %li{class: "#{controller_name == 'reports' ? 'active' : ''}"}
        %a{:href => admindir_v1_reports_path}
          %i.pe-7s-notebook
          %p Reports
      %li{class: "#{controller_name == 'admins' ? 'active' : ''}"}
        %a{href: admindir_v1_admins_path}
          %i.pe-7s-user
          %p Admins
