= content_for :title, "Idle | Tasks"
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            %h4.title.text-left Task Management
            %p.category A list of task posted by idle users.
          .content.table-responsive.table-full-width
            %table.table.table-bigboy.table-striped
              %thead
                %tr
                  %th.text-center Type
                  %th Title
                  %th Poster
                  %th Amount
                  %th Bids
                  %th Status
                  %th Actions
              %tbody.user-table-alignment
                - @tasks.each do |task|
                  %tr
                    %td.text-center
                      .img-container
                        %img{src: "/assets/#{task.task_type}.png"}
                      %p.task-bold{class: "task-#{task.task_type}"}=APP_CONFIG['task_type'][task.task_type]
                    %td=task.title
                    %td=task.owner
                    %td=number_to_currency(task.price, precision: 2)
                    %td=task.bids.size
                    %td=APP_CONFIG['status'][task.status]
                    %td.td-actions
                      %a.btn.btn-danger.btn-simple.btn-icon.btn-xs{rel: :tooltip, "data-original-title" => "Delete"}
                        %i.fa.fa-close
                      %a.btn.btn-info.btn-simple.btn-icon.btn-xs{rel: :tooltip, "data-original-title" => "View Profile", href: admindir_v1_task_path(task.id)}
                        %i.fa.fa-eye
          .col-md-12
            .paginate
              = will_paginate @tasks, previous_label: "", next_label: ""
