= content_for :title, "Idle | Task"
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css", :rel => "stylesheet"}/
:css
  .title{
    text-align: center;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid #e0e0e1;
  }
.content
  .container-fluid
    %ol.breadcrumb
      %li
        = link_to "Tasks", admindir_v1_tasks_path
      %li.active
        = @task.title
    .row
      .col-md-6
        .card
          .header
            .title
          .content
            .row.first-section
              .col-md-12{ style: "padding-bottom:5px;" }
                .col-md-4.image-container
                  %img{class: "avatar border-gray", style: "background-image: url(#{@task.user.image.url})" }
                .col-md-8.user-information
                  %p OFFERED BY
                  %p=@task.user.name
                  %p=@task.user.school
                  %p.user-ratings
                    - (1..@task.user.rate).each do |rate|
                      %i.fa{class: "fa-star star_rate", style: "color: orange;" }
                    - (@task.user.rate..4).each do |rate|
                      %i.fa{class: "fa-star-o star_border", style: "color: orange;" }
            .row.second-section
              .col-md-12
                .col-md-4.task-logo
                  %img{class: "avatar border-gray", src: "/assets/#{@task.task_type}.png" }
                  %p{class: "task-#{@task.task_type}"}= APP_CONFIG["task_type"][@task.task_type]
                .col-md-8.task-information
                  %p{class: "task-#{@task.task_type}"}=@task.title
                  %p=@task.description
            .row.third-section
              .col-md-12
                %p= number_to_currency(@task.price, precision: 2)
            - if @task.performer.present?
              .row.fourth-section
                .col-md-12{ style: "padding-bottom:5px;" }
                  .col-md-4.image-container
                    %img{class: "avatar border-gray", style: "background-image: url(#{@task.performer.image.url})" }
                  .col-md-8.user-information
                    %p DONE BY
                    %p=@task.performer.name
                    %p=@task.performer.school
                    %p.user-ratings
                      - (1..@task.performer.rate).each do |rate|
                        %i.fa{class: "fa-star star_rate", style: "color: orange;" }
                      - (@task.performer.rate..4).each do |rate|
                        %i.fa{class: "fa-star-o star_border", style: "color: orange;" }
            .row.fifth-section
              .col-md-12
                .col-md-4
                  %p PAYMENT
                  %p Stripe
                .col-md-4
                  %p BIDS
                  %p= @task.bids.count
                .col-md-4
                  %p STATUS
                  %p= APP_CONFIG['status'][@task.status]
            %input#lat{ type: :hidden, value: "#{@task.latitude}" }
            %input#lng{ type: :hidden, value: "#{@task.longitude}" }
      .col-md-6
        .row
          .col-md-12
            .card
              .header
                %h4{style: "margin: 10px 0 10px !important;"} Location
              .content
                .row
                  .col-md-12
                    #google_map{ style: "height: 400px;" }
    .row
      .col-md-6
        #dashboard
          .card
            .header
              %h4 Views
            .content
              #chartPerformance.ct-chart
        -# #bids.tab-pane
        -#   %hr{ class: "quickie_hr" }
        -#     .row.tasks
        -#       .col-md-3{style: "text-align: center; padding-bottom: 15px;"}
        -#         .task-icon
        -#           %img{:src => '/assets/0.png', class: "user_image border-white"}/
        -#       .col-md-5
        -#         %h4{style: "margin: 0;"}
        -#           ARARARAR
        -#         %p.task_time_payment{style: "margin: 0;"}
        -#           ARARAR
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"}
:javascript
  init_chart();
  function init_chart(){
    var dataPerformance = {
      labels: ['6pm','9pm','11pm', '2am', '4am', '8am', '2pm', '5pm', '8pm', '11pm', '4am'],
      series: [
        [14, 66, 81, 57, 43, 37, 28, 94, 100, 61, 14, 78]
      ]
    };

    var optionsPerformance = {
      showPoint: true,
      lineSmooth: false,
      height: "260px",
      axisX: {
        showGrid: false,
        showLabel: true
      },
      axisY: {
        offset: 35,
      },
      low: 0,
      high: 100
    };

    Chartist.Line('#chartPerformance', dataPerformance, optionsPerformance);
  }

  function map_init(){
    var googleMapOptions = {
      center: new google.maps.LatLng(document.getElementById("lat").value,document.getElementById("lng").value),
      zoom: 15,
      streetViewControl: false,
      mapTypeControl: false,
      draggable: false,
      maxZoom: 18,
      minZoom: 0,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL
      },
      scaleControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("google_map"), googleMapOptions);
    var marker = new google.maps.Marker({ position: new google.maps.LatLng(document.getElementById("lat").value,document.getElementById("lng").value), map: map });
  }

%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCoSN-2WuzS_sGeGws-VJEotT8OodPq6lk&sensor=false&callback=map_init"}
