!!!
%html{lang: "en"}
  %head
    %title= yield(:title)
    = stylesheet_link_tag "admin", media: :all

    = javascript_include_tag "admin"

    = yield(:head)

    = csrf_meta_tags

    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: :viewport}
    %meta{content: "width=device-width", name: :viewport }

    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:400,700,300", rel: "stylesheet", type: "text/css"}/

  %body
    - if admin_signed_in?
      .wrapper
        = render partial: "admindir/v1/partials/sidebar"
        .main-panel
          = render partial: "admindir/v1/partials/navigation_bar"
          = yield
    - else
      = yield

    = javascript_include_tag controller_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js")
    = javascript_include_action_specific_js

  = javascript_include_tag "jquery-ui.min", media: :all
  = javascript_include_tag "bootstrap.min", media: :all

  = yield(:footer)
  = javascript_include_tag "light-bootstrap-dashboard", media: :all
