!!!
%html{lang: "en"}
  %head
    %title= yield(:title)

    %meta{ charset: "utf-8"}/
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{ content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
    %meta{ content: "width=device-width", :name => "viewport"}/
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %meta{ property: "fb:app_id", content: "143905502874268"}
    %meta{ property: "og:url", content: "https://www.theidleapp.com"}
    %meta{ property: "og:type", content: "article" }
    %meta{ property: "og:title", content: "Your friendly neighborhood task Platform"}
    %meta{ property: "og:description", content: "Idle is a hyper-local platform for quick tasks and services. It is unique in that all users have the ability to both post and perform tasks."}
    %meta{ property: "og:image", content: "https://www.theidleapp.com/assets/idle.jpg"}

    = stylesheet_link_tag "application", media: :all
    = stylesheet_link_tag "pages", media: :all
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = yield(:head)

    = csrf_meta_tags

    %link{ href: "", rel: "shortcut icon", type: "image/x-icon"}/
    %link{ href: "https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css ", rel: "stylesheet"}/
    %link{ href: "https://fonts.googleapis.com/css?family=Roboto:400,700,300", rel: "stylesheet", type: "text/css"}/

  %body
    %section.main-wrapper
      .row{style: 'z-index:11;'}
        .col-lg-9.col-md-5.col-sm-4.col-xs-3
          %h1.home-header
            = link_to 'Idle', root_path
        .div-menu
          .col-lg-3.col-md-7.col-sm-8.col-xs-9
            %a.get-in-touch{href: contact_url, style: 'margin-top:-10px; float:right;'}
              %li Get In Touch
          .col-lg-3.col-md-7.col-sm-8.col-xs-9
            %a.privacy-policy{href: privacy_url, style: 'margin-top:-10px; float:right;'}
              %li Privacy Policy
      = yield
    = javascript_include_tag controller_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js")
    = javascript_include_action_specific_js
