!!!
%html{lang: "en"}
  %head
    %title= yield(:title)

    = stylesheet_link_tag "reset", media: :all
    = stylesheet_link_tag "mobile", media: :all
    = javascript_include_tag "mobile"

    %title=yield(:title)
    = yield(:head)

    = csrf_meta_tags

    -# %link{href: "/assets/besocialapp.ico", rel: "shortcut icon", type: "image/x-icon"}/
  %body
    = yield

    = javascript_include_tag controller_name if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}.js")
    = javascript_include_action_specific_js
