.ct-chart .ct-label{
  display: none;
}
.strong{
  font-weight: bold;
}
.dashboard{
  h2.strong{
    font-size: 50px;
    margin-top: 15px;
  }

  .blue{
    color: #00c0ef;
  }

  .green{
    color: #00a65a;
  }

  .orange{
    color: #f39c12;
  }

  .red{
    color: #dd4b39;
  }

  .legend{
    font:{
      size: 14px;
    }

    .quickie-icon{
      color: #fcc13f;
    }

    .transport-icon{
      color: #7cb342;
    }

    .laundry-icon{
      color: #a483ae;
    }

    .grocery-icon{
      color: #ca7271;
    }

    .other-icon{
      color: #6090be;
    }
  }

  .statistics{
    text-align: center;
    line-height: 24px;
    .col-md-12{
      padding: 8px 0px;
      .col-md-6{
        text-transform: uppercase;
      }
    }
    .headers{
      font-weight: bold;
    }
  }
}

.ct-series-a .ct-slice-pie{
  fill: #fcc13f !important;
}

.ct-series-b .ct-slice-pie{
  fill: #ca7271 !important;
}

.ct-series-c .ct-slice-pie{
  fill: #a483ae !important;
}

.ct-series-d .ct-slice-pie{
  fill: #7cb342 !important;
}
.ct-series-e .ct-slice-pie{
  fill: #6090be !important;
}

.chart-filters {
  font-size: 0;
  float: right;
  margin-right: 14px;

  li {
    display: inline-block;
    font-size: 15px;
    border: 1px solid #333333;
    padding: 4px 0;
    width: 24px;
    text-align: center;
    cursor: pointer;
  }

  li.selected {
    background-color: #9e9e9e42;
    border-style: inset;
    cursor: default;
  }
}

#tasksLineChart, #tasksTypeBarChart {
  svg {
    padding-top: 10px;

    .ct-labels .ct-label { font-size: 17px; }
  }
}
