.task-bold{
  font-weight: bold;
  margin: 5px 0px 0px;
}
.task-0{
  color: #fcc13f;
}
.task-1{
  color: #ca7271;
}
.task-2{
  color: #a483ae;
}
.task-3{
  color: #7cb342;
}
.task-4{
  color: #6090be;
}

.first-section, .fourth-section{
  .image-container {
    img{
      width: 110px !important;
      height: 110px !important;
      background:{
        position: center;
        size: 100% auto;
        repeat: no-repeat;
      }
    }
  }
  .user-information{
    p{
      &:first-child{
        font:{
          size: 12px;
          weight: 600;
        }
        color: #666666;
      }
      &:nth-child(2){
        font:{
          size: 24px;
        }
      }
      &:nth-child(3){
        font:{
          size: 14px;
          weight: 400;
        }
        margin-bottom: 5px;
      }
    }
    .user-ratings{
      i{
        margin-right: -5px;
      }
    }
  }

}
.second-section{
  background-color: #f8f8f9;
  padding: 20px 0px;
  .task-logo{
    border-right: 1px #BBBBBB solid;
    img{
      width: 110px;
      height: 110px;
    }
    p{
      text-align: center;
      text-transform: uppercase;
      font:{
        size: 16px;
        weight: 600;
      }
      margin-top: 10px;
    }
  }
  .task-information{
    p{
      &:first-child{
        font:{
          size: 16px;
          weight: 600;
        }
        margin-bottom: 5px;
      }
      &:last-child{
        font:{
          size: 14px;
        }
      }
    }
  }
}
.third-section{
  background-color: #F4E3E3;
  text-align: center;
  padding: 15px 0px;
  p{
    font:{
      size: 16px;
      weight: 600;
    }
  }
}

.fourth-section{
  padding: 20px 0px;
}

.fifth-section{
  padding: 20px 0px;
  text-align: center;
  p{
    &:first-child{
      font:{
        size: 16px;
        weight: 600;
      }
    }
    &:last-child{
      font:{
        size: 14px;
        weight: 200;
      }
    }
  }
}
