.img-container{
  width: 50px !important;
  height: 50px !important;
  margin: auto;
}

.user-table-alignment tr td{
  vertical-align: middle !important;
  a:first-child{
    margin-left: 2px;
  }
  &:nth-child(5){
    img{
      width: 15px;
      height: auto;
    }
  }
}

h4.title{
  padding: 0px 0px 10px;
}

.profile{
  h4.title{
    font-size: 22px;
    small{
      font-size: 60%;
    }
  }
  .image img{
    width: 100%;
    height: 100%;
  }
  .avatar, .cover-photo{
    background:{
      size: 100% auto;
      repeat: no-repeat;
    }
  }
  .description{
    margin: 20px 0px 40px;
    line-height: 24px;
  }

  .stats{
    p{
      color: #fff;
      font-size: 13px;
      padding: 0px 0px 5px;
    }

    text-align: center;

    .green{
      padding: 0px;
      background-color: #44ada2;

      align-content: center;
      flex-direction: column;
      display: flex;
      justify-content: center;

      h3{
        color: #fff;
        font-size: 50px !important;
      }
    }

    .orange{
      background-color: #f8c71c;
      p{
        margin: -11px 0px 15px;
      }
      padding: 0px;

      align-content: center;
      flex-direction: column;
      display: flex;
      justify-content: center;

      .user-rating{
        img{
          width: 20px;
        }
      }
    }

    .col-md-6{
      height: 115px;
    }
  }

  .card-user .content{
    padding-bottom: 0px;
    // overflow: hidden;
  }
}

.arrow{
  font-size: 6em;
  color: #98989b;
  position: relative;
    right: 100%;
    bottom: 5px;
}

.task_image{
  display: block;
  text-align: center;
  width: 80px;
    height: 80px;
    border-radius: 200px;
    border: 5px solid #fff;
    margin: 0 auto;
}

.tab-pane hr{
  height: 5px;
  margin: 0px 5px 0px 5px;
  padding: 0;
}

.image-container{
  text-align: center;
  padding-bottom: 9px;
}

.ratings-container{
  margin-top: 15px;
  text-align: center;
}

.title-holder{
  margin-top: 7px;
  font-size: 25px
}

.title-padding{
  padding-bottom: 10px;
}

.quicktask_hr{
  background-color: #fcc13f;
}

.grocery_hr{
  background-color: #ca7271;
}

.laundry_hr{
  background-color: #a483ae;
}

.transport_hr{
  background-color: #7cb342;
}

.other_hr{
  background-color: #6090be;
}

.quicktask_title{
  color: #fcc13f;
}

.grocery_title{
  color: #ca7271;
}

.laundry_title{
  color: #a483ae;
}

.transport_title{
  color: #7cb342;
}

.other_title{
  color: #6090be;
}

.tasks{
  .image-container img{
    background:{
      position: center;
      size: 100% auto;
      repeat: no-repeat;
    }
  }
}
