section.contact{
	font-size: 1rem;
	background: #eee;


	div.contact-component{
		h3{
			font-size: 1.5em;
		}
	}

	div.contact-info{
		h3{
			margin-bottom: 25px;
		}
		ul{
			padding-left: 50px;
		}
		li{
			position: relative;
			i{
				font-size: 1.3em;
				position: absolute;
				left: -40px;
			}
			&:not(:first-of-type){
				margin-top: 20px;
			}
		}
	}

 	// second half of contact section
	div.contact-form{
		h3{
			margin-bottom: 7px;
		}
		h6{
			margin-bottom: 20px;
		}

	}
}
