section.explanation{
	font-size: 1rem;
	background: #fafafa;

	div.explanation-part{
		position: relative;
	}

	div.text-wrapper{
		margin-left: 50px;
		padding-left: 5px;
		h5{
			text-align: left;
			font-size: 1.2em;
			margin-bottom: 10px;
		}
		p{
			font-size: .9em;
		}
	}


	i{
		top: 8px;
		left: 10px;
		position: absolute;
		font-size: 3em;
		color: black;
		z-index: 10;
		&.fa-users{
			font-size: 2.4em;
		}
		&.fa-thumbs-o-up{
			font-size: 2.7em;
		}
	}
}
