html, body{
	width: 100%;
	height: 100%;
}

html{
	font-size: 16px;
}

body{
	background: #f5f5f5;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Roboto",sans-serif;
	text-align: center;
}

p, div, button, a, ul, li, label, input{
	font-family: "Roboto",sans-serif;
}

a{
	color: inherit;
}

a:hover, a:focus, a:active{
	text-decoration: none;
	color: inherit;
}

li{
	list-style-type: none;
}

// landing page site broken into sections, which all have general styling

section{
	padding: 100px 0;
}

.weak-gray{
	color: #b0b0b0;
	font-style: italic;
	font-family: "Roboto",sans-serif;
}

.main-wrapper h1.main-header{
	font-size: 65px;
}
