section.intro-section{
	font-size: 1rem;
	min-height: 300px;
	background: #ABD37C;
	color: white;

	h1.welcome-header{
		font-size: 2.7em;
		text-align: center;
		margin: 10px 0 30px;
	}
	h4.welcome-description{
		font-size: 1em;
		max-width: 800px;
		margin: auto;
	}
}
