= content_for :title, "Idle | Contact"
.content-wrapper
  %h1.main-header{style: 'margin-top: 3%; margin-bottom: 2%;'} Get In Touch
  .col-xs-7.col-sm-7.col-md-7.col-lg-6.email-form
    - if flash[:notice].present?
      %p.flash-message=flash[:notice]
    %form{ action: feedback_url, method: :post}
      .form-group.required
        %label{ for: "name"} Name
        %input#name.form-control{ name: "name", required: true, placeholder: "Name", type: "text"}/
      .form-group.required
        %label{ for: "email"} Email address
        %input#email.form-control{ name: "email", required: true, placeholder: "Email", type: "email"}/
      .form-group.required
        %label{ for: "message"} Message
        %textarea#message.form-control{ name: "message", required: true, placeholder: "Message", rows: "6", type: "text"}
      %button.btn.btn-default.send{ type: "submit"}
        %li Send
  %img.iphone.iphone-1{ src: asset_path("iphone1.png")}/
  %img.iphone.iphone-2{ src: asset_path("iphone2.png")}/
