= content_for :title, "Idle | Home"
.content-wrapper
  %h1.main-header Your Friendly Neighborhood Task Platform
  .explanation
    %p Idle is a hyper-local platform for quick tasks and services. It is unique in that all users have the ability to both post and perform tasks.
    %p
      If you want a task completed, simply post it on the platform and someone from your community will get it done for you. On the flip-side, you can perform tasks for your neighbors in your free time.
    %p Make the most of your time and build community in the process!
  .div-store
    %a{ href: "#{APP_CONFIG['apple_store_url']}", target: "_blank" }
      %img.button-store{ src: asset_path("button_apple.png")}
    %a{ href: "#{APP_CONFIG['play_store_url']}", target: "_blank" }
      %img.button-store{ src: asset_path("button_play.png")}
  %img.iphone.iphone-1{ src: asset_path("iphone1.png")}
  %img.iphone.iphone-2{ src: asset_path("iphone2.png")}
