= content_for :title, "Idle | Reset Password"
.bg
  = image_tag "mobile/logo.png"
  - if @is_registered == true
    %h6=@message
    .button-div
      %a{ href: "theidleapp://?reset=1&email=#{@email}" } OPEN APP
  - else
    %h6 Sorry you are not registered to idle. Please download app and join us now!
    .button-div
      %a{ href: "https://itunes.apple.com/us/app/" } OPEN STORE
