= content_for :title, "Idle | Privacy"
.content-wrapper
  %h1.main-header{style: 'margin-top: 3%; margin-bottom: 2%;'} Privacy Policy
  .col-xs-7.col-sm-7.col-md-7.col-lg-6.privacy-content
    %p This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
    %p
      %strong What personal information do we collect from the people that visit our blog, website or app?
    %p When ordering or registering on our site, as appropriate, you may be asked to enter your email address, phone number or other details to help you with your experience.
    %p
      %strong When do we collect information?
    %p We collect information from you when you register on our site or enter information on our site.
    %p
      %strong How do we use your information?
    %p We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
    %p &nbsp&nbsp&nbsp&nbsp• To quickly process your transactions.
    %p
      %strong How do we protect your information?
    %p
      We do not use vulnerability scanning and/or scanning to PCI standards.
      %br
      We only provide articles and information. We never ask for credit card numbers.
      %br
      We use regular Malware Scanning.
    %p Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
    %p We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.
    %p All transactions are processed through a gateway provider and are not stored or processed on our servers.
    %p
      %strong Do we use 'cookies'?
    %p We do not use cookies for tracking purposes
    %p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies
    %p If you turn cookies off, some features will be disabled. that make your site experience more efficient and may not function properly.
    %p However, you will still be able to place orders.
    %p
      %strong Third-party disclosure
    %p We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety. 
    %p However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
    %p
      %strong Third-party links
    %p Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
    %p
      %strong Google
    %p
      Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users.
      %a{href: "https://support.google.com/adwordspolicy/answer/1316548?hl=en"} https://support.google.com/adwordspolicy/answer/1316548?hl=en 
    %p We have not enabled Google AdSense on our site but we may do so in the future.
    %p
      %strong California Online Privacy Protection Act
    %p
      CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at:
      %a{href: "http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf"} http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
    %p
      %strong According to CalOPPA, we agree to the following:
    %p
      Users can visit our site anonymously.
      %br
      Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
      %br
      Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.
    %p
      You will be notified of any Privacy Policy changes:
      %br &nbsp&nbsp&nbsp&nbsp• Via Email
    %p
      Can change your personal information:
      %br &nbsp&nbsp&nbsp&nbsp• By emailing us
    %p
      %strong How does our site handle Do Not Track signals?
    %p We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
    %p
      %strong Does our site allow third-party behavioral tracking?
    %p It's also important to note that we do not allow third-party behavioral tracking
    %p
      %strong COPPA (Children Online Privacy Protection Act)
    %p When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
    %p We do not specifically market to children under the age of 13 years old.
    %p
      %strong Fair Information Practices
    %p The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
    %p
      %strong In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
    %p
      We will notify you via email
      %br &nbsp&nbsp&nbsp&nbsp• By emailing us
    %p We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
    %p
      %strong CAN SPAM Act
    %p The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
    %p
      %strong We collect your email address in order to:
    %p &nbsp&nbsp&nbsp&nbsp• Send information, respond to inquiries, and/or other requests or questions
    %p
      %strong To be in accordance with CANSPAM, we agree to the following:
    %p
      &nbsp&nbsp&nbsp&nbsp• Not use false or misleading subjects or email addresses.
      %br
      &nbsp&nbsp&nbsp&nbsp• Identify the message as an advertisement in some reasonable way.
      %br
      &nbsp&nbsp&nbsp&nbsp• Include the physical address of our business or site headquarters.
      %br
      &nbsp&nbsp&nbsp&nbsp• Monitor third-party email marketing services for compliance, if one is used.
      %br
      &nbsp&nbsp&nbsp&nbsp• Honor opt-out/unsubscribe requests quickly.
      %br
      &nbsp&nbsp&nbsp&nbsp• Allow users to unsubscribe by using the link at the bottom of each email.
    %p
      %strong If at any time you would like to unsubscribe from receiving future emails, you can email us at
    %p
      %input#copy-address{type: 'text', value: 'seba@theidleapp.com', title: 'Copy to clipboard', 'data-toggle'=>'tooltip', 'data-placement'=>'bottom', readonly: 'readonly'} and we will promptly remove you from
      %strong ALL
      correspondence.
    %br
    %br
    %p
      %strong Contacting Us
    %p If there are any questions regarding this privacy policy, you may contact us using the information below.
    %p
      %a{href: root_url}= root_url
      %br
      448 East 22nd St.
      %br
      Brooklyn, New York 11226
      %br
      United States
      %br
      %a#mail-address{href: 'mailto:seba@theidleapp.com', title: 'Click to send email.', 'data-toggle'=>'tooltip', 'data-placement'=>'bottom'} seba@theidleapp.com
    %p Last Edited on 2016-12-22

  %img.iphone.iphone-1{:alt => "", :src => asset_path("iphone1.png")}/
  %img.iphone.iphone-2{:alt => "", :src => asset_path("iphone2.png")}/
