= content_for :title, "Idle | Stripe"
.bg
  = image_tag "mobile/logo.png"
  %h6 Your Stripe account is now connected to your idle account. Click the link below to go back to app. If you didn't request this, please ignore.
  .button-div
    %a{ href: "theidleapp://?scope=read_write&code=#{params[:code]}&stripe=1" } OPEN APP
