= content_for :title, "Idle | Users"
.content
  .container-fluid
    .row
      .col-md-12
        .card
          .header
            %h4.title.text-left User Management
            %p.category A list of users registered to the idle app.
          .content.table-responsive.table-full-width
            %table.table.table-bigboy.table-striped
              %thead
                %tr
                  %th.text-center Image
                  %th Name
                  %th Email
                  %th School
                  %th.text-center Ratings
                  %th Actions
              %tbody.user-table-alignment
                - @users.each do |user|
                  %tr
                    %td
                      .img-container
                        %img{src: user.image.url}
                    %td=user.name
                    %td=user.email
                    %td=user.school
                    %td
                      - (1..user.rate).each do |rate|
                        %img{src: "/assets/star_select.png"}
                      - (user.rate..4).each do |rate|
                        %img{src: "/assets/star_default.png"}
                    %td.td-actions
                      -#%a.btn.btn-danger.btn-simple.btn-icon.btn-xs{rel: :tooltip, "data-original-title" => "Delete"}
                        -#%i.fa.fa-close
                      = link_to(raw("<i class='fa fa-close'></i>"), admindir_v1_user_path(user), class: "btn btn-danger btn-simple btn-icon btn-xs", method: :delete, "data-confirm" => "Delete User?")
                      %a.btn.btn-info.btn-simple.btn-icon.btn-xs{rel: :tooltip, "data-original-title" => "View Profile", href: admindir_v1_user_path(user.id)}
                        %i.fa.fa-eye
          .col-md-12
            .paginate
              = will_paginate @users, previous_label: "", next_label: ""
