= content_for :title, "Idle | Users"
:css
  .tasks{
    background-color: #f0f0f0;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
    margin-bottom: 15px;
  }

.content.profile
  .container-fluid
    .row
      .col-md-4
        .card.card-user
          .image
            %img.cover-photo{style: "background-image: url(#{@user.image.url}); background-position: center;"}
          .content
            .author
              %a
                %img.avatar.border-gray{style: "background-image: url(#{@user.image.url})"}
                %h4.title
                  = @user.name.titleize
                  %br/
                  %small= @user.email.downcase
            - if @user.description.present?
              %p.description.text-center "#{@user.description}"
            - else
              %p.description.text-center
            .row.stats
              .col-md-6.green
                %p COMPLETED TASKS
                %h3= @user.tasks.select{|task| task.status == 6 }.size
              .col-md-6.orange
                %p AVERAGE RATING
                .user-rating
                  - (1..@user.rate).each do |rate|
                    %img{src: "/assets/star_white_select.png"}
                  - (@user.rate..4).each do |rate|
                    %img{src: "/assets/star_white_default.png"}
      .col-md-8
        .row
          .col-md-12
            .card
              .header
                %h4.title.text-left Posted Tasks
                %p.category This is a sample sub text
              .content
                %ul#posted.nav.nav-tabs{ role: :tablist }
                  %li{ class: "#{'active' if params[:posted_tab] == 'inprogress' || params[:posted_tab].nil? }", role: :presentation }
                    %a{ href: "#posted-tasks-inprogress", "data-toggle" => :tab } In Progress
                  %li{ class: "#{'active' if params[:posted_tab] == 'bids'}", role: :presentation }
                    %a{ href: "#posted-tasks-bids", "data-toggle" => :tab } Bids
                  %li{ class: "#{'active' if params[:posted_tab] == 'history'}", role: :presentation }
                    %a{ href: "#posted-tasks-history", "data-toggle" => :tab } History
                %div.tab-content
                  #posted-tasks-inprogress.tab-pane{ class: "#{'active' if params[:posted_tab] == 'inprogress' || params[:posted_tab].nil?}" }
                    - if @poster_in_progress.count != 0
                      - @poster_in_progress.each do |task|
                        %a{href: admindir_v1_task_path(task[:id])}
                          %hr{ class: "#{APP_CONFIG['task_type'][task[:task_type]].downcase.delete(' ')}_hr" }
                          .row.tasks
                            .col-sm-12
                              .col-sm-2.image-container
                                %img.task_image{ style: "background-image: url(#{task[:user][:image]})" }
                              .col-sm-9
                                %p.title-holder{class: "#{APP_CONFIG['task_type'][task[:task_type]].downcase.delete(' ')}_title"}
                                  %strong
                                    = task[:title]
                                %p.name-holder
                                  = task[:user][:name]
                              .col-sm-1
                                .arrow.pe-7s-angle-right
                      .row
                        .col-md-12
                          %center
                            = will_paginate @poster_in_progress, renderer: BootstrapPagination::Rails, param_name: :posted_inprogress_page, params: { posted_tab: "inprogress" }, previous_label: "«", next_label: "»"
                    - else
                      .row.tasks
                        .col-sm-12
                          %center.title-padding
                            NO POSTED TASK IN PROGRESS
                  #posted-tasks-bids.tab-pane{ class: "#{'active' if params[:posted_tab] == 'bids'}" }
                    - if @poster_bids.count != 0
                      - @poster_bids.each do |task|
                        %a{href: admindir_v1_task_path(task.id)}
                          %hr{ class: "#{APP_CONFIG['task_type'][task.task_type].downcase.delete(' ')}_hr" }
                          .row.tasks
                            .col-sm-12
                              .col-sm-2.image-container
                                %img.task_image{ src: "/assets/#{task.task_type}" }
                              .col-sm-9
                                %p{style: "margin-top: 23px;font-size: 25px", class: "#{APP_CONFIG['task_type'][task.task_type].downcase.delete(' ')}_title"}
                                  %strong
                                    = task.title
                              .col-sm-1
                                .arrow.pe-7s-angle-right
                      .row
                        .col-md-12
                          %center
                            = will_paginate @poster_bids, renderer: BootstrapPagination::Rails, param_name: :posted_bids_page, params: { posted_tab: "bids" }, previous_label: "«", next_label: "»"
                    - else
                      .row.tasks
                        .col-sm-12
                          %center.title-padding
                            NO BIDS
                  #posted-tasks-history.tab-pane{ class: "#{'active' if params[:posted_tab] == 'history'}" }
                    - if @poster_history.count != 0
                      - @poster_history.each do |task|
                        %hr{ class: "#{APP_CONFIG['task_type'][task.task_type].downcase.delete(' ')}_hr" }
                        .row.tasks
                          .col-sm-12
                            .col-sm-2.image-container
                              %img.task_image{ style: "background-image: url(#{task.performer.image.url})" }
                            .col-sm-6
                              %p.title-holder{ class: "#{APP_CONFIG['task_type'][task.task_type].downcase.delete(' ')}_title"}
                                %strong
                                  = task.title
                              %p.name-holder
                                = task.performer.name
                            .col-sm-3.ratings-container
                              .row.stats
                                .user-rating
                                  - (1..task.performer.rate).each do |rate|
                                    %img{src: "/assets/star_select.png"}
                                  - (task.performer.rate..4).each do |rate|
                                    %img{src: "/assets/star_default.png"}
                              %p.name-holder
                                = task.finished_at.strftime("%b %d, %Y")
                            .col-sm-1
                              .arrow.pe-7s-angle-right
                      .row
                        .col-md-12
                          %center
                            = will_paginate @poster_history, renderer: BootstrapPagination::Rails, param_name: :posted_history_page, params: { posted_tab: "history" }, previous_label: "«", next_label: "»"
                    - else
                      .row.tasks
                        .col-sm-12
                          %center.title-padding
                            NO POSTED TASK HISTORY
          .col-md-12
            .card
              .header
                %h4.title.text-left Performed Tasks
                %p.category This is a sample sub text
              .content
                %ul#performed.nav.nav-tabs{ role: :tablist}
                  %li{ class: "#{'active' if params[:performed_tab] == 'inprogress' || params[:performed_tab].nil? }", role: :presentation }
                    %a{ href: "#performed-tasks-inprogress", "data-toggle" => :tab } In Progress
                  %li{ class: "#{'active' if params[:performed_tab] == 'bids' }", role: :presentation }
                    %a{ href: "#performed-tasks-bids", "data-toggle" => :tab } Bids
                  %li{ class: "#{'active' if params[:performed_tab] == 'history' }", role: :presentation }
                    %a{ href: "#performed-tasks-history", "data-toggle" => :tab } History
                %div.tab-content
                  #performed-tasks-inprogress.tab-pane{ class: "#{'active' if params[:performed_tab] == 'inprogress' || params[:performed_tab].nil?}" }
                    - if @performer_in_progress.count != 0
                      - @performer_in_progress.each do |task|
                        %hr{ class: "#{APP_CONFIG['task_type'][task[:task_type]].downcase.delete(' ')}_hr" }
                        .row.tasks
                          .col-sm-12
                            .col-sm-2.image-container
                              %img.task_image{ style: "background-image: url(#{task[:user][:image]})"}
                            .col-sm-9
                              %p.quickie_title.title-holder{class: "#{APP_CONFIG['task_type'][task[:task_type]].downcase.delete(' ')}_title"}
                                %strong
                                  = task[:title]
                              %p.name-holder
                                = task[:user][:name]
                            .col-sm-1
                              .arrow.pe-7s-angle-right
                      .row
                        .col-md-12
                          %center
                            = will_paginate @performer_in_progress, renderer: BootstrapPagination::Rails, param_name: :performed_inprogress_page, params: { performed_tab: "inprogress" }, previous_label: "«", next_label: "»"
                    -else
                      .row.tasks
                        .col-sm-12
                          %center.title-padding
                            NO PERFORMED TASK
                  #performed-tasks-bids.tab-pane{ class: "#{'active' if params[:performed_tab] == 'bids'}" }
                    - if @performer_bids.count != 0
                      - @performer_bids.each do |bid|
                        %a{href: admindir_v1_task_path(bid.task.id)}
                          %hr{ class: "#{APP_CONFIG['task_type'][bid.task.task_type].downcase.delete(' ')}_hr" }
                            .row.tasks
                              .col-sm-12
                                .col-sm-2.image-container
                                  %img.task_image{style: "background-image: url(#{bid.task.user.image.url})"}
                                .col-sm-9
                                  %p.quickie_title.title-holder{class: "#{APP_CONFIG['task_type'][bid.task.task_type].downcase.delete(' ')}_title"}
                                    %strong
                                      = bid.task.title
                                  %p.name-holder
                                    = bid.task.user.name
                                .col-sm-1
                                  .arrow.pe-7s-angle-right
                      .row
                        .col-md-12
                          %center
                            = will_paginate @performer_bids, renderer: BootstrapPagination::Rails, param_name: :performed_bids_page, params: { performed_tab: "bids" }, previous_label: "«", next_label: "»"
                    -else
                      .row.tasks
                        .col-sm-12
                          %center.title-padding
                            YOU HAVE NO BIDS
                  #performed-tasks-history.tab-pane{ class: "#{'active' if params[:performed_tab] == 'history'}" }
                    - if @performer_history.count != 0
                      - @performer_history.each do |task|
                        %hr{ class: "#{APP_CONFIG['task_type'][task.task_type].downcase.delete(' ')}_hr" }
                        .row.tasks
                          .col-sm-12
                            .col-sm-2.image-container
                              %img.task_image{style: "background-image: url(#{task.user.image.url})" }
                            .col-sm-6
                              %p.title-holder{class: "#{APP_CONFIG['task_type'][task.task_type].downcase.delete(' ')}_title"}
                                %strong
                                  = task.title
                              %p.name-holder
                                = task.user.name
                            .col-sm-3.ratings-container
                              .row.stats
                                .user-rating
                                  - (1..task.user.rate).each do |rate|
                                    %img{src: "/assets/star_select.png"}
                                  - (task.user.rate..4).each do |rate|
                                    %img{src: "/assets/star_default.png"}
                              %p.name-holder
                                = task.finished_at.strftime("%b %d, %Y")
                            .col-sm-1
                              .arrow.pe-7s-angle-right
                      .row
                        .col-md-12
                          %center
                            = will_paginate @performer_history, renderer: BootstrapPagination::Rails, param_name: :performed_history_page, params: { performed_tab: "history" }, previous_label: "«", next_label: "»"
                    -else
                      .row.tasks
                        .col-sm-12
                          %center.title-padding
                            NO PERFORMED TASK HISTORY
